@{
    ViewData["Title"] = "About";
}

<div class="row justify-content-md-center">
    <div class="mbr-white col-md-10">
        <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
        <span style="font-weight: normal;">Innovative, passionate, creative design</span></h1>
                
        <p class="mbr-text pb-3 mbr-fonts-style display-5">
            "This team will always go the extra mile; they have a vast knowledge of the web arena which is enhanced with creative flair and strong communication skills."
        </p>
        <div class="mbr-section-btn"><a class="btn btn-md btn-secondary-outline display-7" href="">Reactive design<br></a>
        <a class="btn btn-md btn-danger display-7" href="">Cloud base service</a></div>
    </div>
</div>
