@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    26-28 Queensway <br />
    Enfield<br />
    <abbr title="Phone">P:</abbr>
    0796 2232940
</address>
<address>
    <strong>Support:</strong> <a href="mailto:michael.davis@midax.co.uk">michael@midax.co.uk</a><br />
</address>


<h2>Hello World</h2>
<div id="root"></div>
<script src="~/dist/bundle.js" type="module"></script>